
.bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/ducks-bg.jpg);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.contactus {
    color: white;
    font-size: 16px;
}

.main-heading {
    text-align: center;
    position: relative;
    top: -20px;
    height: 100vh;
}
.page-top {
    position: relative;
    top: 50px;
    color: #f5cc44;
    font-size: 125px;
    font-family: 'Rammetto One', cursive;
    text-shadow: 0 0 25px black;
}

.coming-soon {
  color: #ffd45c;
  font-size: 55px;
  font-family: 'Rammetto One', cursive;
  padding-top: 20px;
  text-shadow: 0 0 25px black;
}

.form-container {
  background-color: rgba(152, 113, 159, 0.8);
  margin-top: 100px;
  padding: 15px;
  width: 100%;
}

.form-horizontal {
  margin: 10px 50px;
}

/* end of initial view landing page section */

/* start of 3 col section with info, song and address */
.info-container h2 {
  color: #ffd45c;
  text-align: center;
}

.info-column {
  padding: 35px 55px;
}

.about-col {
  background-color: #2b66a7;
  color: #fbfeff;
  height: 350px;
}

.duck-song-col {
  background-color: #e6676f;
  color: #111111;
  height: 350px;
}

.contact-info-col {
  background-color: #43aa5b;
  color: #fbfeff;
  height: 350px;
}

.song-quote {
  font-size: 38px;
}

.musical-note {
  height: 20px;
}

.address p {
  font-size: 16px;
}

.location-map {

}
/* end of middle section with info, song, addr4ess */

/* start of some of the ducks we sell section */
.items-col {
  height: 180px;
}

  .items-col img {
    float: left;
    height: 150px;
    width: auto;
  }
  .items-col p {
    font-size: 14px;
    padding-top: 30px;
  }

.duck-list-container {
  background-color: white;
}
