
.bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/ducks-bg.jpg);
}
.container {
    height: 100vh;
}

.contactus {
    color: #ffd45c;
}
.row-1 {
    height: 300px;
}
.main-heading {
    text-align: center;
    position: relative;
    top: -20px;
}
.page-top {
    position: relative;
    top: 50px;
    color: #ffd45c;
    font-size: 125px;
    font-family: 'Rammetto One', cursive;
}
.coming-soon {
    position: relative;
    top: 75px;
}

.container {
  /* background-color: white; */
  /* height: 350px; */
  margin: 0 auto;
  width: 100%;
}

.info-container h2 {
  color: #ffd45c;
  text-align: center;
}

.info-column {
  padding: 35px 55px;
}

.about-col {
  background-color: #2b66a7;
  color: #fbfeff;
  height: 350px;
}

.duck-song-col {
  background-color: #e6676f;
  color: #111111;
  height: 350px;
}

.contact-info-col {
  background-color: #43aa5b;
  color: #fbfeff;
  height: 350px;
}

.song-quote {
  font-size: 38px;
}

.musical-note {
  height: 20px;
}

.address p {
  font-size: 16px;
}

.location-map {

}

.items-col {
  height: 180px;
}

  .items-col img {
    float: left;
    height: 150px;
    width: auto;
  }
  .items-col p {
    font-size: 14px;
    padding-top: 30px;
  }

.duck-list-container {
  background-color: white;
}
